---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carousel from '../components/Carousel.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				Cloud Native Days Tokyo2023とCloud Operator Days Tokyo 2023のイベント共有
			</p>
			<center>
				<p >
					<a href="https://cloudnativedays.jp/cndt2023"><img width="40%" src="/images/clooud-native-days-tokyo2023.png" alt="CloudNativeDaysTokyo"/></a> 
				</p>
				<p>
					<a href="https://cloudopsdays.com/"><img width="40%" src="/images/cloud-operator-days-tokyo2023.png" alt="CloudOpsdays"/></a> 
				</p>
			</center>
		</main>
		<Footer />
	</body>
</html>
